<%# Copyright 2016 InvizBox Ltd
	https://www.invizbox.com/lic/license.txt
-%>
<%
	local i, key
	local br = self.orientation == "horizontal" and '&#160;' or '<br />'
%>

<div class="form-group cbi-value<% if self.error and self.error[section] then %> cbi-value-error<% end %><% if self.last_child then %> cbi-value-last<% end %>" id="cbi-<%=self.config.."-"..section.."-"..self.option%>" data-index="<%=self.index%>" data-depends="<%=pcdata(self:deplist2json(section))%>">
	<%- if self.title and #self.title > 0 then -%>
	<label <%= attr("for", cbid) %>>
	<%- if self.titleref then -%><a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=self.titleref%>"><%- end -%>
		<%-=self.title-%>
	<%- if self.titleref then -%></a><%- end -%>
	</label>
<!--		<div class="cbi-value-field"> -->
	<%- end -%>
<% if self.widget == "select" then %>
	<select class="cbi-input-select" data-update="change"<%=
		attr("id", self.id or cbid) ..
		attr("name", self.override_name or cbid) ..
		ifattr(self.size, "size")
	%>>
		<% for i, key in pairs(self.keylist) do -%>
			<option<%=
				attr("id", cbid.."-"..key) ..
				ifattr(self.filtercountry == true, "filtercountry", string.sub(self.vallist[i],0,2)) ..
				attr("value", key) ..
				attr("data-index", i) ..
				attr("data-depends", self:deplist2json(section, self.deplist[i])) ..
				ifattr(tostring(self:cfgvalue(section) or self.default) == key, "selected", "selected")
			%>>
			<%
			local utils = require "isocountries"
			if self.id == "vpncountry" then
				print(utils.getcountryname(self.vallist[i]))
			elseif self.id == "vpncity" then
				local city = string.sub(self.vallist[i],5)
				print((string.gsub(city, "- .*-","- ")))
			else
				print(self.vallist[i])
			end
			%></option>
		<%- end %>
	</select>
	<% if self.id =="ssid" then %><a href='#' onclick='location.reload(true); return false;'><i id="repeat-scan"  class="fa fa-refresh fa-lg" aria-hidden="true" title="Rescan Network"></i></a><% end %>
<% elseif self.widget == "radio" then %>
	<% if self.id =="mode" then %>
		<div class="cbi-value-field-toggle">
	<% else %>
		<div class="cbi-value-field">
	<% end %>
		<% for i, key in pairs(self.keylist) do %>
				<input class="cbi-input-radio" data-update="click change" type="radio"<%=
					attr("id", cbid.."-"..key) ..
					attr("name", cbid) ..
					attr("value", key) ..
					ifattr((self:cfgvalue(section) or self.default) == key, "checked", "checked")
				%> />
				<label<%=
					attr("id", cbid.."-"..key) ..
					attr("for", cbid.."-"..key) ..
					attr("data-index", i) ..
					attr("data-depends", self:deplist2json(section, self.deplist[i]))
				%>><%=pcdata(self.vallist[i])%></label>
		<% end %>
	</div>
<% end %>
<% if self.description and #self.description > 0 then -%>
	<div class="cbi-value-description">
		<img src="<%=resource%>/cbi/help.gif" alt="<%:help%>" />
		<%=self.description%>
	</div>
<%- end %>
<%- if self.title and #self.title > 0 then -%>
<!--	</div>-->
<%- end -%>
</div>
