<%# Copyright 2016 InvizBox Ltd
	https://www.invizbox.com/lic/license.txt
-%>
<div class="form-group cbi-value<% if self.error and self.error[section] then %> cbi-value-error<% end %><% if self.last_child then %> cbi-value-last<% end %>" id="cbi-<%=self.config.."-"..section.."-"..self.option%>" data-index="<%=self.index%>" data-depends="<%=pcdata(self:deplist2json(section))%>">
        <%- if self.title and #self.title > 0 then -%>
        <label <%= attr("for", cbid) %>>
        <%- if self.titleref then -%><a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=self.titleref%>"><%- end -%>
                <%-=self.title-%>
        <%- if self.titleref then -%></a><%- end -%>
        </label>
        <%- end -%>

        <input data-update="change" class="form-control cbi-input-password" placeholder="Password"
        <%=
                attr("name", cbid) ..
                attr("id", self.id or cbid) ..
                attr("type", self.password and "password" or "text") ..
                attr("class", self.password and "form-control cbi-input-password" or "form-control") ..
                attr("value", self:cfgvalue(section) or self.default) ..
                ifattr(self.maxlength, "maxlength", self.maxlength) ..
                ifattr(self.validator_minlength, "data-minlength", self.validator_minlength) ..
                ifattr(self.size, "size") ..
                ifattr(self.placeholder, "placeholder") ..
                ifattr(self.readonly, "readonly") ..
                ifattr(self.maxlength, "maxlength") ..
                ifattr(self.datatype, "data-type", self.datatype) ..
                ifattr(self.datatype, "data-optional", self.optional or self.rmempty) ..
                ifattr(self.combobox_manual, "data-manual", self.combobox_manual) ..
                ifattr(#self.keylist > 0, "data-choices", { self.keylist, self.vallist })

        %>
        <% if self.required then
                            print(" required")
                    end %> />
<% if self.password then %><i id="revealpass" class="fa fa-eye fa-lg" aria-hidden="true" style="vertical-align:middle;cursor:pointer" title="Reveal/hide password" onclick="var e = document.getElementById('<%=self.id%>'); e.type = (e.type=='password') ? 'text' : 'password';" ></i><% end %>
<div class="help-block">Minimum of 8 characters</div>
</div>
<div class="form-group cbi-value">
	<label>Confirm Password</label>
        <input type="password" class="form-control" name="<%=cbid%>2" id="<%=cbid%>2" placeholder="Password"
        <%=
                attr("value", self:cfgvalue(section)) ..
                ifattr(self.maxlength, "maxlength", self.maxlength) ..
                ifattr(self.validator_minlength, "data-minlength", self.validator_minlength) ..
                ifattr(self.validator_equals, "data-match", self.validator_equals) ..
                ifattr(self.validator_equals_error, "data-match-error", self.validator_equals_error) ..
                ifattr(self.size, "size") ..
                ifattr(self.placeholder, "placeholder") ..
                ifattr(self.readonly, "readonly") ..
                ifattr(self.maxlength, "maxlength")
        %> <% if self.required then
                            print(" required")
                    end %> />
        <% if self.password then %><i id="revealpass2" class="fa fa-eye fa-lg" aria-hidden="true" style="vertical-align:middle;cursor:pointer" title="Reveal/hide password" onclick="var e = document.getElementById('<%=cbid%>2'); e.type = (e.type=='password') ? 'text' : 'password';" ></i><% end %>
        <div class="help-block with-errors"></div>
</div>
