<%# Copyright 2016 InvizBox Ltd
	https://www.invizbox.com/lic/license.txt
-%>
<!-- apache -->
<%  export("cbi_apply_xhr", function(id, configs, redirect) -%>
<script type="text/javascript">
	<% if luci.http.formvalue("wizard") then %>location.href='<%=redirect%>?wizard=1';<% end %>
</script>

<fieldset class="cbi-section" id="cbi-apply-<%=id%>" style="text-align:center;">
	<legend><%:Applying changes%></legend>
	<script type="text/javascript">//<![CDATA[
		var apply_xhr = new XHR();
		var committed = 1;
		apply_xhr.post('<%=url('servicectl/restart', table.concat(configs, ","))%>', { token: '<%=token%>' },
			function() {
				var checkfinish = function() {
					apply_xhr.get('<%=url('servicectl/status')%>', null,
						function(x) {
							if( x.responseText == 'finish' )
							{
								var e = document.getElementById('cbi-apply-<%=id%>-status');
								if( e )
								{
									e.parentNode.innerHTML = '<div id="conf_success"  style="color: #65ab48;text-align:center;border-color: #65ab48;"><br/><i class="fa fa-thumbs-up fa-3x"  aria-hidden="true" style="vertical-align:middle;cursor:pointer"></i> - Successfully applied changes!</div><div></br><input type="button" class="btn btn-default btn-primary btn-next" onclick="location.href=\'/cgi-bin/luci/\';" value="Return to Status" /></div>';
									window.setTimeout(function() {
										<% if luci.http.formvalue("wizard") then %>location.href='<%=redirect%>?wizard=1';<% end %>
										<% if luci.http.formvalue("activevpn") then %>location.href='';  <% end %>

									}, 1000);
								}
							}
							else
							{
								var e = document.getElementById('cbi-apply-<%=id%>-status');
								if( e && x.responseText ) e.innerHTML = x.responseText;

								window.setTimeout(checkfinish, 1000);
							}
						}
					);
				}
				window.setTimeout(checkfinish, 1000);
			}
		);
	//]]></script>

	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="cbi-apply-<%=id%>-status"><%:Waiting for changes to be applied...%></span>
</fieldset>
<%-	end) %>
