<%# Copyright 2016 InvizBox Ltd
	https://www.invizbox.com/lic/license.txt
-%>
<%
nixio = require("nixio")
utils = require "invizboxutils"
sock = nixio.socket("inet", "stream")
-- A boo - can't get the unix socket to work - using TCP
-- sock = nixio.socket("unix", "stream")
-- sock:connect("/var/lib/tor/c.sock")
%>

<%+header%>

<h2><%:Tor Network Status%></h2>

<%-if not reboot then 
-%>
<p><a href="<%=controller%>/invizbox/torstatus/restart?reboot=1"><%:Tor Restart%></a></p>
<p><%:Refreshing in 30 seconds: .....%></p>
<script type="text/javascript">setTimeout("location='<%=controller%>/invizbox/torstatus/status'", 30000)</script>
<%- else -%>
<p><%:Please wait: Tor restarting...%></p>
<script type="text/javascript">setTimeout("location='<%=controller%>/invizbox/torstatus/status'", 6000)</script>
<%- end -%>
<%
if sock and sock:connect("127.0.0.1", 9051) then
	res, data = utils.tor_request("AUTHENTICATE \"\"\r\n")
	if not res then
		print(data)
		return
	end

	res, data = utils.tor_request("GETINFO status/circuit-established\r\n")
	if not res then
		print(data)
	else
		status = string.sub(data, string.find(data,"=%d*"))
		if status == "=1" then 
			print("Connected to the Tor network<br/>")
			string.gsub(data,"","")
		else 
			print("Not connected to the Tor network<br/>") 
		end
	end
    res, data = utils.tor_request("GETINFO version\r\n")
    if not res then
        torstatus = data
    else 
        print(string.match(data, "%d.%d.%d.%d+"))
        print(" : ")
    end 
    res, data = utils.tor_request("GETINFO status/version/current\r\n")
    if not res then 
        torstatus = data
    else  
        print(string.match(data,"%w+",string.find(data,"=")))
    end  

	res, data = utils.tor_request("GETINFO circuit-status\r\n")
	if not res then
		print(data)
        else
		print("<br/><br/>Circuits:<pre>\n" .. string.gsub(string.gsub(string.gsub(data,"\r\n250 .+$",""),"^250\+[^\n]*",""),"\n.\r","") .. "</pre>\n")
	end
        res, data = utils.tor_request("SETEVENTS bw\r\n")
        if not res then
                print(data)
        end
        res, data = utils.tor_request("")
        if not res then
                print(data)
        else
                print("<br/><br/>Bandwidth:<pre>\n" .. string.gsub(data,"^650 BW ","") .. "</pre>\n")
        end
        res, data = utils.tor_request("SETEVENTS\r\n")
        if not res then
                print(data)
        end
	res, data = utils.tor_request("QUIT\r\n")
	if not res then
		print(data)
		return
	end

end
						
sock:close()
%>

<%+footer%>
