<%# Copyright 2016 InvizBox Ltd
    https://www.invizbox.com/lic/license.txt
-%>

<%+header%>
<h2 name="content"><%:Update Log%></h2>
<div id="content_update">

<script type="text/javascript">//<![CDATA[
    function update(button) {
        button.style.display = 'none';
        document.getElementById('update-message').parentNode.style.display = '';

        (new XHR()).post('<%=controller%>/admin/system/update/call', { token: '<%=token%>' });
    }
//]]></script>

<div class="cbi-page-actions">
    <input class="cbi-button cbi-button-apply" id="perform_update" type="button" value="<%:Perform update%>" onclick="update(this)" />
    <p class="alert-message" style="display:none">
        <span id="update-message"><%:An update is being run, you can refresh the page in a couple of minutes to get the new log.%></span>
    </p>
</div>
<textarea readonly="readonly" wrap="off" rows="<%=update:cmatch("\n")+2%>" id="update"><%=update:pcdata()%></textarea>
</div>
<%+footer%>
