<%# Copyright 2016 InvizBox Ltd
	https://www.invizbox.com/lic/license.txt
-%>

<%
    local uci = require("uci").cursor()
    local utils = require("invizboxutils")

    local wireless_config = "wireless"
    uci:load(wireless_config)
    local new_ssid = uci:get(wireless_config, "ap", "ssid")
%>

<%+header%>
<h2 name="content" id="Wizard_Complete">Wizard Complete</h2>
<div id="success">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    <h1 class="success">Success!</h1>
    <h4 class="info-text"> Your Invizbox Go will now reboot.</h4>
    <br>
    <h4 class="info-text"> After reboot, you will need to connect to the WiFi hotspot called "<%=new_ssid%>". The reboot could take a couple of minutes.</h4>
</div>
<%+footer%>

<%
    local config_name = "wizard"
    uci:load(config_name)
    uci:set(config_name, "main", "complete", "true")
    uci:save(config_name)
    uci:commit(config_name)
    utils.sleep(4)
    os.execute("reboot")
%>
